.delivery
  padding-bottom: 50px
  &__title
    text-align: center
  &__inner
    padding-top: 260px
    position: relative
  &__image
    position: relative
    & picture
      margin: 0 auto 147px
      max-width: 962px
      width: 100%
      display: block
      & img
        width: 100%
        object-fit: contain
  &__card
    display: flex
    flex-direction: column
    position: absolute
    max-width: 330px
    width: 100%
    & h4
      margin-bottom: 14px
    &--1
      top: 0
      left: 0
      color: #4D4D4D
      transform: translateY(-50px)
      & img
        display: block
        margin-right: auto
    &--2
      color: $black
      background: rgba(150, 219, 217, 0.6)
      border-radius: 30px
      padding: 40px 20px
      top: -50px
      left: calc(50% + 100px)
      backdrop-filter: blur(4px)
      min-height: 226px
      justify-content: center
      row-gap: 10px
  &__order
    max-width: 927px
    width: 100%
    display: grid
    grid-template-columns: 300px 1fr
    align-items: center
    margin-left: auto
    & img
      object-fit: contain
    &-description
      display: flex
      flex-direction: column
      & h5
        margin-bottom: 14px
      & p
        margin-bottom: 36px
@media screen and ( max-width: 1200px )
  .delivery
    &__inner
      padding-top: 275px
    &__card
      &--1
        transform: translateY(0px)
        background: rgba($white, 0.6)
        backdrop-filter: blur(4px)
        border-radius: 30px
        padding: 15px
        z-index: 2
      &--2
        padding: 15px
        max-width: 300px
        top: calc(100% - 50px)
        left: auto
        right: 0
        min-height: 200px
    &__order
      grid-template-columns: 100%
      position: relative
      & img
        position: absolute
        bottom: 100%
        left: 0
        max-width: 200px
@media screen and ( max-width: 768px )
  .delivery
    &__card
      &--1
        position: relative
        top: auto
        left: auto
        max-width: 100%
        display: grid
        grid-template-columns: 175px 1fr
        grid-template-areas: 'image title''image text'
        padding: 0
        & img
          grid-area: image
        & .t4
          grid-area: title
          align-self: end
        & .delivery__description
          grid-area: text
      &--2
        top: 100%
    &__inner
      padding-top: 0
    &__image
      & picture
        margin-bottom: 200px
@media screen and ( max-width: 580px )
  .delivery
    padding-bottom: 0
    &__order
      & img
        left: auto
        right: 250px
    &__card
      &--1
        grid-template-columns: 100%
        grid-template-areas: 'title''text'
        max-width: 300px
        position: relative
        margin: 60px 0 20px
        margin-left: auto
        & img
          grid-area: auto
          position: absolute
          top: 50%
          right: 250px
          transform: translateY(-50%)
          max-height: 200px
@media screen and ( max-width: 430px )
  .delivery
    &__order
      & img
        display: none
    &__card
      &--2
        max-width: 100%
        min-height: 160px
        top: calc( 100% + 20px )
      &--1
        max-width: 100%
        padding: 15px
        margin-top: 30px
        & img
          display: none
