.header
  --headerMinHeight: 115px
  position: relative
  width: 100%
  height: 100vh
  z-index: 100
  background: transparent
  color: $white
  transition: .5s
  &::-webkit-scrollbar
    width: 0px
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%)
  &__background
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    object-fit: cover
    z-index: 0
  &__top
    display: grid
    grid-template-columns: max-content max-content 1fr max-content
    grid-template-areas: 'phone burger menu delivery'
    align-items: center
    height: 115px
    color: $white
    position: relative
    z-index: 4
  &__logo
    position: absolute
    top: calc( 115px + 57px )
    left: 50%
    transform: translateX(-50%)
    font-family: "FoglihtenNo06"
    & a
      display: grid
      height: 100%
      grid-template-columns: repeat(2, max-content)
      align-items: center
    & img
      display: block
      height: 100%
      object-fit: contain
    & .logo__text
      border-top: 1px solid $white
      border-bottom: 1px solid $white
      display: grid
      justify-content: center
      text-align: center
      & span:first-child
        font-size: 52px
        letter-spacing: 2.35px
        line-height: 1.5
      & span:last-child
        font-size: 120px
        letter-spacing: 0.35px
        line-height: 1
  &__burger
    grid-area: burger
    display: none
    position: relative
    z-index: 3
    #burger
      border: none
      background: transparent
      position: relative
      width: 30px
      height: 20px
      cursor: pointer
      & span
        width: 100%
        height: 2px
        background: $white
        position: absolute
        left: 50%
        pointer-events: none
        &:nth-child(1)
          top: 0
          transform: translateX(-50%)
          transition: .2s
        &:nth-child(2)
          top: 50%
          transform: translate(-50%, -50%)
        &:nth-child(3)
          bottom: 0
          transform: translateX(-50%)
          transition: .2s
      &.open
        & span
          &:nth-child(1)
            top: 50%
            transform: translate(-50%, -50%) rotate(45deg)
            transition: .2s
          &:nth-child(2)
            opacity: 0
            visibility: hidden
          &:nth-child(3)
            top: 50%
            transform: translate(-50%, -50%) rotate(-45deg)
            transition: .2s
  &__menu
    grid-area: menu
    margin: auto
    position: relative
    z-index: 2
    & .menu__list
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      column-gap: 36px
      & li
        list-style: none
  &__phone
    grid-area: phone
    & a
      display: flex
      align-items: center
      column-gap: 15px
  &__delivery
    grid-area: delivery
    position: relative
    &::before
      content: url('../img/icons/bag.svg')
      position: absolute
      top: -1px
      left: 0
      transform: translateX(-50%)
      transition: .2s
      opacity: 1
      visibility: visible
  &__inner
    margin: 275px auto 0
    position: relative
    height: auto
    visibility: visible
    opacity: 1
    transition: opacity .2s, height .5s, margin .75s
    z-index: 3
    padding-top: 20px
    max-width: 783px
    text-align: center
  &__title
    font-size: 52px
    letter-spacing: -2px
    margin-bottom: 18px
  &__subtitle
    font-size: 20px
    line-height: 1.5
    margin-bottom: 26px
    color: rgba($white, .8)
  &__button-wrapper
    display: flex
    align-items: center
    justify-content: center
    column-gap: 36px
  &.fixed
    position: fixed
    top: calc(var(--headerMinHeight) * -1)
    left: 0
    transition: .2s
    &.show
      top: 0
      transition: .2s
  &.small
    height: var(--headerMinHeight)
    background: $dark
    transition: .5s
    & .header__delivery
      &::before
        opacity: 0
        visibility: hidden
        transition: .2s
    & .header__background
      opacity: 0
      transition: .5s
    & .header__top
      grid-template-columns: max-content 1fr max-content
      grid-template-areas: 'burger phone delivery'
      grid-column-gap: 30px
      padding-left: 200px
    & .header__menu
      position: fixed
      top: 0
      left: 0
      height: 100vh
      width: 100%
      transform: translateX(-100%)
      transition: .2s
      margin: 0
      background: $main
      opacity: 0
      visibility: hidden
      background-size: 0
      background-image: url('../img/cat-head.svg'), url('../img/fish-3.svg')
      background-repeat: no-repeat
      background-position: 100% 100%, calc(100% - 100px) 100px
      & .menu__list
        flex-direction: column
        justify-content: space-around
        padding: 130px 0
        height: 100%
        align-items: start
        position: absolute
        top: 0
        bottom: 0
        left: 150px
        opacity: 0
        visibility: hidden
        & li
          position: relative
          padding-left: 32px
          &::before
            content: ''
            display: block
            width: 8px
            height: 8px
            background: $white
            border-radius: 50%
            overflow: hidden
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
          & a
            font-size: 36px
            letter-spacing: 0.35px
            font-family: "FoglihtenNo06"
      &.open
        transform: translateX(0)
        opacity: 1
        visibility: visible
        transition: .2s
        background-size: 40%, 40%
        & .menu__list
          opacity: 1
          visibility: visible
    & .header__phone
      margin-left: auto
    & .header__burger
      display: block
    & .header__logo
      top: 50%
      left: 0
      transform: translate(0, -50%)
      & img
        max-height: 80px
        margin-right: 10px
      & .logo__text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 7px 0 2px
        & span:first-child
          font-size: 20px
          letter-spacing: 1.5px
          line-height: 1.1
        & span:last-child
          font-size: 40px
          letter-spacing: 5px
          line-height: 1.1
    & .header__inner
      margin: 0 auto
      height: 0
      visibility: hidden
      opacity: 0
      transition: opacity .2s, height .5s, margin .75s
@media screen and ( min-width: 1400px )
  .header
    &__inner
      margin-top: 350px
    &__logo
      top: 200px
    &.small
      & .header__menu
        & .menu__list
          left: calc( 50% - (1240px / 2) )
@media screen and ( min-width: 1200px ) and (max-device-height: 800px)
  .header
    &__inner
      margin-top: 12%
    &__logo
      top: 115px
      & img
        max-height: 140px
    & .logo__text
      & span:first-child
        font-size: 36px
      & span:last-child
        font-size: 70px
@media screen and ( max-width: 1300px )
  .header
    &.small
      & .header__menu
        background-position: calc(100% + 100px) 100%, calc(100% + 100px) 100px
@media screen and ( max-width: 1200px )
  .header
    &__inner
      margin-top: 10%
    &.small
      & .header__menu
        &.open
          background-size: 40%, 50%
    &__top
      grid-template-columns: max-content 1fr max-content
      grid-template-areas: 'burger phone delivery'
      grid-column-gap: 30px
      padding-left: 200px
      position: relative
      &::before
        content: ''
        background: $black
        width: calc(100% + 30px)
        height: 100%
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        z-index: -1
    &__menu
      position: fixed
      top: 0
      left: 0
      height: 100vh
      width: 100%
      transform: translateX(-100%)
      transition: .2s
      margin: 0
      background: $main
      opacity: 0
      visibility: hidden
      background-image: url('../img/cat-head.svg'), url('../img/fish-3.svg')
      background-repeat: no-repeat
      & .menu__list
        flex-direction: column
        justify-content: space-around
        padding: 130px 0
        height: 100%
        align-items: start
        position: absolute
        top: 0
        bottom: 0
        left: 150px
        & li
          position: relative
          padding-left: 32px
          &::before
            content: ''
            display: block
            width: 8px
            height: 8px
            background: $white
            border-radius: 50%
            overflow: hidden
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
          & a
            font-size: 36px
            letter-spacing: 0.35px
            font-family: "FoglihtenNo06"
      &.open
        transform: translateX(0)
        opacity: 1
        visibility: visible
        transition: .2s
    & .header__phone
      margin-left: auto
    & .header__burger
      display: block
    & .header__logo
      top: 50%
      left: 0
      transform: translate(0, -50%)
      & img
        max-height: 80px
        margin-right: 10px
      & .logo__text
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 7px 0 2px
        & span:first-child
          font-size: 20px
          letter-spacing: 1.5px
          line-height: 1.1
        & span:last-child
          font-size: 40px
          letter-spacing: 5px
          line-height: 1.1
@media screen and ( max-width: 1000px )
  .header
    &.small
      & .header__menu
        &.open
          background-position: calc(100% + 100px) 100%, calc(100% + 100px) 100px
@media screen and ( max-width: 768px )
  .header
    &.small
      & .header__top
        padding-left: 140px
        grid-column-gap: 15px
      & .header__phone
        & a
          column-gap: 5px
      & .header__logo
        & img
          max-height: 60px
          margin-right: 5px
        & .logo__text
          & span:first-child
            font-size: 16px
          & span:last-child
            font-size: 30px
      & .header__menu
        & .menu__list
          left: 50px
    &__delivery
      &::before
        content: none
    &__top
      padding-left: 140px
      grid-column-gap: 15px
    &__phone
      & a
        column-gap: 5px
    & .header__logo
      & img
        max-height: 60px
        margin-right: 5px
      & .logo__text
        & span:first-child
          font-size: 16px
        & span:last-child
          font-size: 30px
    &__menu
      & .menu__list
        left: 50px
@media screen and ( max-width: 580px )
  .header
    --headerMinHeight: 70px
    transition: .65s
    &.small
      height: var(--headerMinHeight)
      transition: .65s
      & .header__logo
        & img
          max-height: 50px
        & .logo__text
          & span:first-child
            font-size: 14px
          & span:last-child
            font-size: 20px
      & .header__top
        height: var(--headerMinHeight)
        padding-left: 115px
        grid-column-gap: 10px
      & .header__menu
        & .menu__list
          & li
            padding-left: 0
            &::before
              content: none
        &.open
          background-image: none
      & .header__delivery
        &::before
          opacity: 1
          visibility: visible
    &__phone
      & img
        width: 22px
      & span
        display: none
    &__delivery
      width: 45px
      height: 45px
      font-size: 0
      color: transparent
      border: none
      position: relative
      &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        pointer-events: none
        background-image: url('../img/icons/delivery.svg')
        background-repeat: no-repeat
        background-size: contain
        background-position: center
        position: absolute
        top: 0
        left: 0
        transform: translate(0)
        opacity: 1
        visibility: visible
    &__top
      height: var(--headerMinHeight)
      padding-left: 115px
      grid-column-gap: 10px
    &__menu
      & .menu__list
        & li
          padding-left: 0
          &::before
            content: none
    & .header__logo
      & img
        max-height: 50px
      & .logo__text
        & span:first-child
          font-size: 14px
        & span:last-child
          font-size: 20px
    &__title
      font-size: 36px
    &__subtitle
      font-size: 16px
@media screen and ( max-width: 480px )
  .header
    &__button-wrapper
      column-gap: 15px
    &__title
      font-size: 30px
@media screen and ( max-width: 400px )
  .header
    &__top
    & .header__logo
      & .logo__text
        // display: none
    &.small
      & .header__top
      & .header__logo
        & .logo__text
          // display: none
      & .header__menu
        & .menu__list
          & li
            & a
              font-size: 28px
    &__menu
      & .menu__list
        & li
          & a
            font-size: 28px
